p {
  font-family: 'Roboto Mono', sans-serif;
  font-size: 10
}

h3 {
  font-family: 'Roboto Mono', sans-serif;
  font-size: 14
}

body {
  margin: 0;
  padding: 0;
}

#map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}

#legendButton {
  position: absolute;
  right: 15px;
  top: 20px;
  padding: 4px;
  font-family: 'Roboto Mono', sans-serif;
  font-size: 14
}

#legendSvg {
  height: 80vh;
}

#legend {
  height: 70vh;
  position: fixed;
  right: 15px;
  top: 60px;
  display: none;
}

#legend.active {
  display: inline;
}
